
body {
    font-family: 'Roboto Mono', monospace;
    background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
}

.navbar a {
    margin-right: 30px;
}
  

.logo {
    min-height: 60px;
    margin-left: 20px;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

h4 {
    font-size: 1.2em;
    color: #fff;
}

p {
    font-size: 1.2em;
    color: #E9E8E8;
}

.time-to-launch {
    margin-top: 100px;
    min-height: 200px;
}

.time-to-launch h3 {
    font-size: 4em;
    margin-left: 100px;
    color: #DC5F00;
}

.time-to-launch p {
    font-size: 2.5em;
    font-weight: 500;
}

.tile {
    min-width: 200px;
    max-width: 200px;
    min-height: 150px;
    max-height: 200px;
    background-color: #20262E;
}

.tile p {
    margin-top: 10px;
    font-size: 1.25em;
}

.tile h3 {
    color: #DC5F00;
    font-size: 1.5em;
}

.weather {
    background-color: #DC5F00;
    min-height: 300px;
}

.weather h2 {
    margin-top: 20px;
    min-width: 200px;
    font-size: 2.5em;
}

.weather h3 {
    margin-top: 80px;
    font-size: 2em;
}

.weather p {
    font-size: 1.5em;
}

figure {
    border: 5px solid #fff;
}

.mission-how {
    max-width: 400px;
    background-color: #20262E;
}

.mission-how h3 {
    margin: 15px 0;
    color: #DC5F00;
    font-size: 2em;
}

.mission-how p {
    font-size: 1.25em;
}

.footer {
    background-color: #20262E;
}

.title {
    color: #DC5F00;
}


.contact a {
    color: #EEEEEE;
}

.line {
    min-width: 500px;
    max-width: 900px;
    min-height: 2px;
    background-color: #DC5F00
    ;
    margin: 20px auto; 
}


@media (max-width: 767px) {
    /* styles to apply when screen width is 767px or smaller */
  }
  